<div class="container">
  <div class="sixteen columns">
    <%= form_for @question do |f| %>
      <!--section>
        <h4>Is this request sensitive?<span class="import-stuff">*</span></h4>
        <p>
                                                  YES or NO
        </p>
        <div>
          <input type="radio"
                 name="sensitive"
                 value"1"/>
                 <label>Yes</label>
        </div>
        <div>
          <input type="radio"
                 name="sensitive"
                 value"0"/>

                 <label>No</label>
        </div>

      </section--><!-- -->
      <!--section id="risk-level">
        <hr class=""/>
        <h4>Risk Level<span class="import-stuff">*</span></h4><p>
                                  If you answered YES above, list severity of the personal risk to you.
        </p>
        <div>
          <label>1. Life</label>
          <input type="radio"
                 name="risk_level"
                 value"1"/>
        </div>
        <div>
          <label>2. Safety</label>
          <input type="radio"
                 name="risk_level"
                 value"2"/>
        </div>
        <div>
          <label>3. Duress</label>
          <input type="radio"
                 name="risk_level"
                 value"3"/>
        </div>
        <div>
          <label>4. Unknown</label>
          <input type="radio"
                 name="risk_level"
                 value"4"/>
        </div>
        <div>
          <label>5. Unknown</label>
          <input type="radio"
                 name="risk_level"
                 value"5"/><br />
          <input type="type"
                 name="other-risk">
        </div>
      </section-->
      <section>
        <hr class=""/>
        <h4>Urgency</h4>
        <p>
          How soon do you need this information?
        </p>
        <%= f.select(:needed_by,
          options_for_select([
              ['Extreme < 6 hours', 6.hours.from_now],
              ['High < 24 hours', 24.hours.from_now],
              ['Moderate < 3 days', 3.days.from_now],
              ['Low < 1 week', 1.week.from_now],
              ['Whenever', nil]
            ])) %>
      </section>

      <!--section>
        <hr class=""/>
        <h4>Region <span class="import-stuff">*</span></h4>
                                  Which region is this request about?
        <div>?
          <label>1. Africa </label>
          <input type="radio"
                 name="region"
                 value"1"/>
        </div>
        <div>
          <label>2. Asia </label>
          <input type="radio"
                 name="region"
                 value"2"/>
        </div>
        <div>
          <label>South America</label>
          <input type="radio"
                 name="region"
                 value"3"/>
        </div>
        <div>
          <label>Australasia</label>
          <input type="radio"
                 name="region"
                 value"4"/>
        </div>

        <div>
          <label>Europe</label>
          <input type="radio"
                 name="region"
                 value"5"/>
        </div>
        <div>
          <label>Arctic</label>
          <input type="radio"
                 name="region"
                 value"6"/>
        </div>
        <div>
          <label>Antaratica</label>
          <input type="radio"
                 name="region"
                 value"7"/>
        </div>

      </section-->
      <section>
        <h4>Enter your request <span class="import-stuff">*</span></h4>
        <%= f.text_area :body %>
      </section>
      <%= f.submit %>
    <% end %>

  </div>


</div>