<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @researcher.try(:name) %> replied to your question</h1>
    <h3>Question:</h3>
    <p>
      <%= @question.body %>
    </p>
    <br/>
    <h3>Answer:</h3>
    <p>
      <%= @answer.body  %>
    </p>
  </body>
</html>