<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>The following email has been escalated. Please investigate</h1>
    <h3>Question:</h3>
    <p>
      <%= @question.body %>
    </p>
  </body>
</html>