/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
section div 
{
	clear: both; 
}

input[type="radio"]
{
	float: left;
}
hr 
{
	visibility: hidden;
	clear: both;
}

#request-form p 
{
	color: gray;
}

#request-form .import-stuff
{
	color: orange;
}

/* #Page Styles
================================================== */
